* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Maven Pro', sans-serif;
	background: url('../img/blackorchid.png');
}

.grid {
	margin: 70px auto 0 auto;
}

.grid td {
	background-color: #dedede;
	color: #303030;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 3px;
	border: 1px solid #aaa;
	text-transform: uppercase;
}

.title {
	margin: 20px auto 0 auto;
	color: #993344;
	text-align: center;
	font-size: 30px;
}

.words {
	color: #993344;
	margin: 20px auto 0 auto;
	text-align: center;
	width: 30%;
}

.clear-btn {
	display: none;
	background: transparent;
	color: #dedede;
	border: 1px solid #dedede;
	border-radius: 3px;
	padding: 5px 10px;
	font-size: 16px;
	margin: 20px auto 0 auto;
	cursor: pointer;
}

.clear-btn:hover {
	background: #dedede;
	color: #303030;

	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
};